*{
    margin: 0;
    padding: 0;
}
.board {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.cell{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}


